RewriteEngine On

# Page d'accueil

RewriteRule ^$ controller/index.php [L]

# Laisser passer les fichiers existants

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Laisser passer les dossiers existants sauf la racine

RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Toutes les autres routes

RewriteRule ^(.\*)$ controller/index.php [L]
