<div id="mobile-menu" class="fixed inset-0 z-50 bg-white flex flex-col justify-between px-8 py-24 gap-8 -translate-y-full transition-transform duration-300 ease-in-out md:hidden">
	<div class="flex flex-col gap-5">
		<a href="{{ base }}/lexique" class="text-h1 text-(--03) hocus:text-(--special) transition-colors">Lexique</a>
		<a href="mailto:contact@lacerise.blog?subject=Contact%20La%20Cerise" class="text-h1 text-(--03) hocus:text-(--special) transition-colors">Me contacter</a>
	</div>
	<div>
		<hr class="flex-1 border-t border-(--09) mb-5">
		<a href="{{ base }}/admin/login" class="text-base text-(--03) hocus:text-(--special) transition-colors ">Connexion à l'espace admin</a>
	</div>
</div>
