<header class=" top-0 max-w-5xl mx-auto px-4 md:px-8 flex justify-between py-10 items-center">
	<div class="relative h-8">
		<img src="{{ base }}/assets/images/Logo.png" alt="" class="h-8 w-auto absolute top-0 left-0 blur-md opacity-50">
		<img src="{{ base }}/assets/images/Logo.png" alt="La Cerise" class="h-8 w-auto relative">
	</div>
	<a href="{{ base }}/admin/logout">Se déconnecter</a>
</header>
