<div class="flex flex-col items-center gap-2">
	<span class="text-body text-(--cerise-07)">{{ label }}</span>
	<span class="text-5xl font-light">{{ value ? '%02d'|format(value) : '--' }}</span>
</div>
