{% extends 'admin/base.html.twig' %}

{% block titre %}La Cerise
{% endblock %}


{% import 'macros/icons.html.twig' as icons %}
{# Statut #}
{% block content %}
	<div class="grid grid-cols-4 gap-4 my-8">
		{% set labels = {
    'publie': 'Publié',
    'brouillon': 'Brouillons',
    'a_venir': 'A venir',
    'archive': 'Archives'
} %}

		{% for statut, label in labels %}
			{% include 'admin/partials/stat.html.twig' with {
            label: label,
            value: stats[statut] ?? null
        } %}
		{% endfor %}
	</div>

	{# Les articles #}
	<ul class="flex flex-col gap-5">
		{% for article in articles %}
			<li>
				{% include 'admin/partials/article-card.html.twig' %}
			</li>
		{% else %}
			<li class="text-(--cerise-07) py-4">Aucun article pour le moment.</li>
		{% endfor %}
	</ul>

	<div class="fixed bottom-4 right-4">
		{% include 'components/button.html.twig' with {
    label: 'Nouvel article',
    href: base ~ '/admin/article/create'
} %}
	</div>

	<script src="{{ base }}/assets/js/confirm.js" defer></script>

{% endblock %}
