<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Connexion — Admin La Cerise</title>
	</head>
	<body>

		<h1>La Cerise — Admin</h1>

		{% if error %}
			<p>{{ error }}</p>
		{% endif %}

		<form method="POST" action="">

			<div>
				<label for="email">Email ou nom d'utilisateur</label>
				<input type="text" id="email" name="email" required>
			</div>

			<div>
				<label for="password">Mot de passe</label>
				<input type="password" id="password" name="password" required>
			</div>

			<button type="submit">Se connecter</button>
			<a href="{{ base }}/">LaCerise.blog</a>
		</form>

	</body>
</html>
