{% extends 'admin/base.html.twig' %}
{% block titre %}Éditer —
	{{ terme.terme }}
{% endblock %}

{% block content %}
	<nav>
		{% include 'components/breadcrumb.html.twig' with {
      'breadcrumb': [
        {'label': 'modifier une définition', 'url': null}
      ]
    } %}
	</nav>

	<div class="mt-10 md:max-w-2xl md:mx-auto">

		<div class="px-7 md:px-10 py-10 max-w-2xl">

			<div class="flex flex-col gap-2 mb-30">
				<p class="text-center text-cerise-05">Vous êtes en train de modifier :</p>
				<h1 class="text-3xl text-center text-gradient">{{ terme.terme }}</h1>
			</div>

			{% if errors is defined and errors|length %}
				<ul class="flex flex-col gap-1 mb-8 p-4 border border-red-300 bg-red-50 rounded text-sm text-red-800">
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% include 'admin/lexique/form.html.twig' with {
			terme: terme,
			categories: categories,
			submit_label: "Enregistrer les modifications",
			show_delete: true
		} only %}

		</div>
	</div>


{% endblock %}
