{# Le fil d'arianne #}
<nav class="flex flex-wrap items-center gap-2 text-small-serif text-(--06)">
	<a href="{{ base }}/controller/" class="hocus:text-(--01) transition-colors">
		Accueil
	</a>
	{% for item in breadcrumb %}
		<span>/</span>
		{% if item.url %}
			<a href="{{ item.url }}" class="hocus:text-(--01) transition-colors">
				{{ item.label }}
			</a>
		{% else %}
			<span class="text-(--01) truncate ">{{ item.label }}</span>
		{% endif %}
	{% endfor %}
</nav>
