{% extends 'public/base.html.twig' %}

{% block titre %}La Cerise
{% endblock %}

{% block main_class %}
	<main class="mx-3.5 mt-3.5">
	{% endblock %}

	{% block content %}
		{% import 'macros/icons.html.twig' as icons %}
		{# Section Header #}
		{% include 'components/home/hero.html.twig' with { hero: hero } %}
		{# Sections Quelque termes #}
		<section class="flex flex-col gap-5">
			<h2 class="text-sat-h1">Quelques termes
				<br>
				<span class="text-gradient">de lexique</span>
			</h2>
			<div class="flex gap-6 md:gap-10 overflow-x-auto snap-x snap-mandatory pb-4">
				{% for item in lexique %}
					{% include 'components/home/lexique-definition.html.twig' with { item: item } %}
				{% endfor %}
				<div class="flex items-center">
					{% include 'components/button-rounded.html.twig' with { label: "En savoir plus" } %}
				</div>
			</div>
		</section>
		<script src="{{ base }}/assets/js/stagger.js" defer></script>

	{% endblock %}
